*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}
nav{
  background-color: purple;
  height:60px;
  width:1550px;
  display:flex;
  justify-content:space-evenly;
  align-content: center;
}
nav ul{
    /* border:2px solid red; */
  width:700px;
  display: flex;
  list-style:none;
  justify-content:space-between;
  align-items: center;
  font-size:18px;
  color: white;
}
nav img{
  height:70px;
  width:160px;
}
div:nth-child(2){
  display:flex;
  justify-content: center;
  align-items:center;
  width:800px;
}
nav div:last-child{
  width:150px;
  display:flex; 
  justify-content:center;
  align-items:center;
}
nav button{
  width:80px;
  height:30px;
  border-radius:5%;
  background-color:white;
  border-radius: 6px;
}
nav h4{
    color: white;
}
nav button:hover{
    color: white;
    cursor: pointer;
}
main img{
    height: 500px;
    width: 1550px;
}
