*{
  padding:0%;
  margin:0%;
  box-sizing:border-box;  
}
nav{
  height:90px;
  display:flex;
  justify-content:space-evenly
}
nav ul{
    /* border:2px solid red; */
  width:700px;
  display: flex;
  list-style:none;
  justify-content:space-between;
  font-size:18px;
  color:#282828
}
nav img{
  height:70px;
  width:160px;
}
 div:nth-child(2){
  display:flex;
  justify-content: center;
  align-items:center;
  width:800px;
}
nav div:last-child{
  width:150px;
  display:flex; 
  justify-content:center;
  align-items:center;
}
nav button{
  width:146px;
  height:50px;
  background-color:white;
  border-radius: 6px;
}
nav button:hover{
    background-color:black;
    color: white;
    cursor: pointer;
}
main{
  display:flex;
  justify-content:space-between;
  /* border:2px solid black; */
  gap:30px;
  height:600px;
  margin-top:25px;
}
main div{
  width: 39%;
  margin-left: 2.5%;
  /* border:2px solid red;  */
   /* border: 2px solid green;  */
}
main div+div{
  width: 65%;
  /* border: 2px solid green; */
}
main img{
  height: 600px;
  width: 100%;
}
main h1{
  font-size: 60px;
  margin-top: 28px;
  color: #272727;
}
main p{
  font-size: 18px;
  color: rgb(75, 73, 73);
  letter-spacing: 1px;
  line-height: 30px;
}
main button{
  height: 60px;
  width: 250px;
  font-size: 20px;
  background-color: #272727;
  color: white;
  border-radius: 5px;
  border: none;
}
main button:hover{
  background-color: black;
  cursor: pointer;
}
main section{
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 40px; 
  margin-top: 60px;
}
main article h2{
  font-size: 30px;
}
main article p{
  font-size: 13px;
}
main div:first-child{
  display: flex;
  flex-direction: column;
  gap:35px;
}
*{
  padding:0%;
  margin:0%;
  box-sizing:border-box;
  font-family:Inter,sans-serif;
}
#sec1{
   /* border: 2px solid red;  */
  height: 630px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#sec1 div{
  /* border: 2px solid green; */
  /* height: 650%; */
  width: 27%;
  height:91%;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
}
#sec1 h1{
  font-size: 31px;
  /* text-transform: capitalize; */
}
#sec1 img{
  height: 195px;
  width: 195px;
}
#sec1 div{
  background-color: #ffe979;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}
#sec1 div+div{
  background-color: #b7f598;
}
#sec1 div+div+div{
  background-color: #7ed5f0;
}
#sec1 h3{
  /* border: 2px solid; */
  height: 10px;
  align-content: end;
}
#sec1 article{
  /* border: 2px solid; */
  height: 50px;
  width: 250px;
  align-content: center;
}
#sec1 button{
  border-radius: 5px;
  /* width: 150px; */
  height: 50px;
  /* width: 120px; */
  padding: 10px;
  background-color: #cdaf1a;
  border: none;
  color: white;
}
#sec1 div+div button{
  background-color: #68b840;
}
#sec div+div+div button{
  background-color: #2298bc;
}
#sec2{
  display: flex; 
  justify-content:center;
  align-items: center;
  /* border:2px solid; */
  margin-top:100px;
  height: 120px;
  gap:30px;
  flex-direction:column
}
#sec2 img{
  height:250px;
  width:250px;
  text-align: center;
  /* border:2px solid; */
}
#sec2 h1{
  font-size:40px;
  text-align: center;
  /* border:2px solid; */
  height:75px;

}
#sec2 p{
  font-size:18px;
  color:#575757;
  /* line-height: 30px; */
  text-align: center;
}
#sec3{
  display:flex;
  /* justify-content:space-between;  */
  /* border:2px solid;  */
height:700px;
  margin-top:80px;
  align-items: center;
  justify-content:center;
  display: flex;
  gap:16px;
}
#sec3 div{
  /* border:2px solid;  */
  height:600px;
  width:300px;
  /* margin-left: 170px; */
  /* justify-content: center; */
  /* flex-direction: column; */
}
#sec3 h3{
  /* border: 2px solid; */
  height:57px;
  width:100%;
  text-align:left;
  align-content:center;
  font-size:20px;
  cursor:pointer;
  border-radius:5px;
  list-style: none;
  /* letter-spacing: 1px; */
  /* display: flex;
  justify-content:center; */
}
#sec3 div+div{
  width:63%;
height:85%
}
#sec3 img{
  /* border:2px solid; */
  height:625px;
  width:100%;
}
#sec3 h3:hover{
  background-color:#f6f6f6;
  /* border-radius: 5px; */
  /* padding:10px; */
  /* align-items: center;
  justify-content: center; */
  /* display: flex; */
}
.sec4{
    /* border: 2px solid red; */
    height: 1530px;
    text-align: center;
}
.sec4 h1{
    font-size: 47px;
    /* border: 2px solid yellow; */
    height: 200px;
    align-content: end;
    text-align: center;
}
.sec4>p{
    /* border: 2px solid red; */
    text-align: center;
    align-content: center ;
    font-size: 18px;
letter-spacing: 0.5px;
    color: #575757;
    height: 80px;
}
.sec4 article{
    /* border: 2px solid blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* gap: 30px; */
    height: 1080px;
}
.sec4 div{
    /* border: 2px solid green; */
    width: 400px;
    height: 440px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.sec4 img{
    height: 240px;
    width: 370px;
}
.sec4 h3{
    font-size: 23px;
    /* border: 2px solid black; */
height: 65px;
    align-content: end;
}
.sec4 article p{
    font-size: 16px;
    letter-spacing: 0.3px;
    word-spacing: 2px;
    line-height: 26px;
    text-align: center;
    color: #575757;
    align-content: center;
    /* border: 2px solid green; */
    height: 110px;
}
.sec4 button{
    height: 55px;
    width: 210px;
    font-size: 18px;
    background-color: #272727;
    color: white;
    border-radius: 5px;
}
.sec4 button:hover{
    background-color: black;
}
.sec5{
    background-image: url(./Assets/shape-bg-9.svg);
    background-repeat: no-repeat;
    height: 700px;
    /* border: 2px solid blue; */
}
.sec5 h1{
font-size: 48px;
    height: 230px;
    letter-spacing: -0.5px;
    /* border: 2px solid green; */
    align-content: end;
    text-align: center;
}
.sec5>p{
    font-size: 18px;
    color: #575757;
    text-align: center;
    align-content: center;
    height: 78px;
    letter-spacing: 0.3px;
}
.sec5 article{
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid red; */
    justify-content: space-evenly;
    align-items: center;
    height: 360px;
}
.sec5 div{
    width: 280px;
    width: 23%;
    text-align: center;
}
.sec5 img{
    height: 77px;
 width: 73px;
}
.sec5 div+div+div img{
    width: 160px;
}
.sec5 div+div+div+div img{
  width: 100px;
    height: 76px;
}
.sec5 div h3{
    font-size: 18px;
    height: 55px;
    align-content: end;
    /* border: 2px solid; */
    font-weight: 600;
    letter-spacing: 1px;
}
.sec5 div p{
    color: #575757;
    height: 105px;
    font-size: 15px;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    line-height: 27px;
    /* border: 2px solid red; */
    align-content: center;
}

.sec6{
    height: 600px;
 /* border: 2px solid; */
    display: flex;
}
.sec6 div{
    width: 45%;
    /* border: 2px solid green; */
}
.sec6 div>img{
    width: 100%;
    height: 600px;
    background-size: cover;
}
.sec6 div+div{
    width: 55%;
    /* border: 2px solid blue; */
    background-color: #ffe979;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec6 h3{
    width: 79%;
    /* border: 2px solid red; */
    height: 40%;
    font-size: 25px;
    font-weight: 400;
    line-height: 35.5px;
    letter-spacing: 0.2px;
 word-spacing: 1px;
}
.sec6 div>div{
    height: 85px;
    width: 80%;
}
.sec6 article{
    height: 45px;
    /* border: 2px solid green; */
    width: 79%;
    align-content: end;
    display: flex;
    gap: 12px;
    align-items: start;
    justify-content: flex-start;
}
.sec6 h4{
    font-size: 20px;
    color: #272727;
    font-weight: 600;
    /* border: 2px solid; */
}
.sec6 a:visited{
    color: #272727;
}
.sec6 a:active{
    color: #272727;
}
.sec6 a:link{
    color: #272727;
}
.sec6 p{
 text-align: start;
    width: 79%;
    height: 30px;
    align-content: end;
    font-size: 16px;
}

.sec7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec7 h1{
    height: 202px;
    font-size: 46px;
    color: #272727;
    text-align: center;
    align-content: end;
}
.sec7 span{
    float: right;
}
.sec7 article{
    width: 80%;
    gap: 12px;
    margin-top: 50px;
}
.sec7 summary{
    font-size: 24px;
list-style: none;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 100%;
    text-transform: capitalize;
    font-weight: 600;
    color: #272727;
    align-content: center;
    
}
.sec7 summary span{
  float: right;
}
.sec7 summary:hover{
    color: #65bd7d;
    cursor: default;
}
.sec7 details{
    width: 100%;
    border-bottom: 1px solid lightgray;
}
.sec7 p{
    color: #272727;
    line-height: 30px;
    letter-spacing: 0.5px;
    font-size: 17.5px;
}
.sec7 li{
    color: #272727;
    line-height: 30px;
    letter-spacing: 0.5px;
    font-size: 17.5px;
}
.sec7 a:link{
    color: #272727;
}
.sec7 a:visited{
    color: #272727;
}
.sec7 a:active{
    color: #272727;
}
.sec7 a:hover{
    color: #65bd7d;
    cursor: pointer;
}
.sec7 ul{
    padding-left: 38px;
    list-style-type: disc;
}
.sec7 ul::marker{
    font-weight: bolder;
}

.sec8{
    height: 610px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.sec8 article{
    background-color: #b7f598;
    display: flex;
    justify-content: center;
align-items: center;
    height: 515px;
    gap: 120px;
    width: 98.5%;
    border-radius: 5px;
    position: absolute;
    top: 24%;
}
.sec8 div{
    width: 38%;
    margin-left: 20px;
    margin-top: 5px;
}
.sec8 div+div{
    width: 39.5%;
}
.sec8 img{
    height: 70%;
    width: 100%;
}
.sec8 h1{
    font-size: 48px;
    letter-spacing: -1px;
}
.sec8 p{
    height: 90px;
    font-size: 17px;
    color: #272727;
    line-height: 30px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    align-content: center;
}
.sec8 button{
    height: 60px;
    width: 280px;
    font-size: 21px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    background-color: #272727;
    border: 1px solid black;
}
.sec8 button:hover{
    background-color: black;
}
#button{
    height: 80px;
    width: 400px;
    align-content: end;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 575px;
    background-color: #141414;
}
footer section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 140px;
}
footer div>img{
    width: 155px;
}
footer>section:first-child{
    height: 350px;
}
footer>section>div:first-child{
    display: flex;
    flex-direction: column;
    height: 150px;
    gap: 20px;
}
footer ul{
    list-style: none;
    height: 150px;
    width: 190px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer ul :hover{
    color: #65ba3b;
    cursor: pointer;
}
footer li{
    font-size: 15px;
    font-weight: 600;
}
footer>section:first-child>div:last-child{
    line-height: 20px;
 letter-spacing: 1px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 17px; 
    width: 320px;
    height: 130px;
    font-size: 14px;
}
footer>section:first-child>div:last-child>div{
    height: 48px;
    width: 319px;
    color: #575757;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background-color: white;
}
footer>section:first-child>div:last-child>div>div{
    height: 40px;
    width: 95px;
    letter-spacing: 0px;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
 font-size: 13px;
    align-content: center;
    color: white;
    background-color: #282828;
}
#sub{
    padding-left: 20px;
    font-size: 15px;
    padding-right: 4px;
}
footer section:nth-of-type(2){
    color: white;
    font-size: 13px;
    height: 80px;
    display: flex;
     justify-content: center;
    align-items: center;
    gap: 450px;
}
footer section:last-child{
    height: 70px;
}
footer article:last-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 190px;
    height: 40px;
}
footer article:last-child div{
    width: 40px;
    height: 40px;
  border-radius: 8px;
    align-content: center;
    text-align: center;
    background-color: #282828;
}
footer article:last-child div:hover{
    background-color: #65bc7b;
    }
footer article:last-child {
    font-size: 700px;
}








