div{
    border: 2px solid;
    height: 100px;
    width: 100px;
}
section{
    position: relative;
    height: 400px;
}
#d1{
    background-color: red;
    position: absolute;
    z-index: 20;
    opacity: 0.5;
}
#d2{
    background-color:blue;
    position: absolute;
    top: 5%;
    left: 6%;
    z-index: 10;
}
#d3{
    background-color:yellow;
    position: absolute;
    top: 8%;
    left: 8%;
    z-index: 6;
    opacity: 0.5;
}
