*{
  padding:0%;
  margin:0%;
  box-sizing:border-box;  
  font-family: 'Inter',sans-serif;
}
#sec1 nav{
  height:75px;
  /* border:2px solid red; */
  display:flex;
  justify-content:space-evenly;
  align-items: center;
  /* background-color: #f3faf6; */
  /* position:absolute; */
}
#sec1 nav ul{
  display:flex;
  /* border:2px solid red; */
  width:480px;
  list-style:none;
  justify-content:space-between;
  font-size:16px;
  color:white;
  font-family: karla,sans-serif;
  }
#sec1 nav button{
  width:190px;
  height:60px;
  border-radius:30px; 
  /* color:black; */
  background-color:#ebd35b;
  cursor:pointer;
}
#sec1{
  height:720px;
  /* border:2px solid red; */
  background-image: url(./template/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  position:relative;
  width:1515px;
  /* display: flex; */
  /* align-items: center; */
}
#sec1 nav img{
  /* border:2px solid; */
  width:200px;
  height: 29.8;
}
#sec1 article{
  /* border:2px solid; */
  width:1050px;
  height:600px;
  margin-left:10%;
  /* display:flex; */
  justify-content:center;
  align-items:center;
  margin-top:85px;
}
#sec1 article h1{
  /* border:2px solid red; */
  color:#FFFFFF;
  font-size: 74px;
  width:950px;
  height:280px;
  font-family:"Bricolage Grotesque",sans-serif;
}
#sec1 article p{
  /* border:2px solid red; */
  height:90px;
  color:white;
  font-family:"karla",sans-serif;
  font-size:16px;
  letter-spacing:0.5px;
}
#sec1 article button{
  /* border:2px solid red; */
  width:200px;
  height:50px;
  border-radius:30px;
  cursor: pointer;  
}
#d1{
  border:2px solid black;
  width:150px;
  height:65px;
  background-color: #ebd35b;
}
#d2{
    border:2px solid white;
  width:130px;
  height:60px;
  background-color:transparent;
  color: white;
}
#d2:hover{
  background-color: #ebd35b;
}
#d1:hover{
  background-color: #ebd35b;
}
#sec2{
  /* border:2px solid red; */
  height:350px;
  background-color:#f3faf6;
  /* margin-top:40px; */
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}
#sec2 div{
  /* border:2px solid; */
  height:200px;
  width:200px;
}
#sec2 div h3{
  /* border:2px solid; */
  color:#183030;
  font-family: "Bricolage Grotesque",sans-serif;
  font-size: 24px;
  height:50px;
}
#sec2 div p{
  /* border:2px solid; */
  height:50px;
  font-size: 16px;
  color:#526354;
  font-family: karla,sans-serif;
  line-height: 25px;
  letter-spacing:1px;
}
#sec3{
  /* border:2px solid; */
  height:700px;
  display:flex;
  justify-content: center;
  margin-top:120px;
  /* align-items: center; */

}
#sec3 div{
  /* border:2px solid; */
  width:640px;
 position: relative;
}
#sec3 div img{
  border-radius:6%;
  /* position: relative; */
  /* /* width:500px; */
  height:340px; 
}
#sec3 div img+img{
  position: absolute;
  right: 50px;
  bottom:115px;
  border:8px solid white;
  border-radius:10% ;
  /* height: 400px; */
  /* width: 400px; */
}
#sec3 div+div{
  /* border:2px solid red; */
  height:600px;
  width:650px;
  margin-top: 60px;
} 
#sec3 div+div article{
  /* border:2px solid; */
  height:45px;
  letter-spacing: 1px;
  font-size: 14px;
  color:#183030;
  /* width:80px; */
  /* display: flex;
  justify-content: flex-start;
   align-items:center; */
}
#sec3 div+div h1{
  /* border:2px solid; */
  height:150px;
  font-size: 54px;
  color:#183030;
  font-family:"Bricolage Gortesque",sans-serif ;
}
#sec3 div+div p{
  /* border:2px solid; */
  height:120px;
  line-height: 25px;
  color:#526354;
  font-size: 16px;;
}
#sec3 div+div ul{
  /* border:2px solid; */
  height:120px;
  list-style: none;
  line-height: 27px;
  color:#183030;
  font-size: 17px;
}
#sec3 div+div button{
  /* border:2px solid; */
  height:53px;
  width:190px;
  font-size: 18px;
  border-radius: 50px;
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: #FFFFFF;
}
#sec3 div+div button:hover{
  background-color:#ebd35b; ;
}
#d3{
  color: #ebd35b;
}
#d4{
   color: #ebd35b;
}
#d5{
   color: #ebd35b;
}
#sec4{
    height: 1013px;
    background-color: #f3faf6;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#sec4 h1{
    font-size: 58px;
    width: 70%;
    height: 220px;
    color: #183030;
    font-family: 'Bricolage Grotesque';
}
#sec4 p:first-child{
    align-content: end;
    height: 150px;
    color: black;
    font-size: 14px;
}
#sec4 article{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#sec4 div{
    height: 410px;
    width: 285px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    flex-direction: column;
    padding: 23px;
}
#sec4 img{
    height: 40px;
    width: 40px;
}
#sec4 img~img{
    width: 235px;
    height: 150px;
    border-radius: 10px;
}
#sec4 div:nth-child(3) img~img{
    height: 130px;
}
#sec4 div:nth-child(3){
    padding-bottom: 45px;
}
#sec4 p{
    font-size: 15px;
    color: #526354;
    line-height: 25px;
    height: 70px;
    letter-spacing: 0.7px;
}
#sec4 h2{
    color: #183030;
    height: 70px;
    align-content: center;
}
#sec4 section{
    height: 170px;
    align-content: center;
    text-align: center;
}
#sec4 button{
    height: 54px;
    width: 255px;
    font-size: 17.5px;
    border-radius: 30px;
    background-color: #f3faf6;
    transition-duration: 0.5s;
}
#sec4 button:hover{
    border: none;
    background-color: #e3bd2c;
    transition-duration: 0.5s;
}
#sec5{
    height: 1050px;
    background-color: #183030;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
#sec5 div{
    width: 42.7%;
    height: 76.9%;
    color: white;
}
#sec5 img{
    border-radius: 25px;
}
#sec5 p:first-child{
    height: 48px;
    font-size: 14.2px;
    font-weight: 600;
    letter-spacing: 1px;
    align-content: end;
}
#sec5 h1{
    font-size: 51px;
    height: 160px;
    align-content: center;
    line-height: 65px;
}
#sec5 article{
    height: 196px;
    align-content: center;
}
#sec5 aside{
    font-size: 30px;
    font-weight: bold;
    height: 50px;
    align-content: center;
}
#sec5 h2{
    height: 35px;
    align-content: center;
}
#sec5 article p{
    font-size: 15px;
    letter-spacing: 0.6px;
    line-height: 25px;
    align-content: center;
    height: 55px;
}
#sec6{
    height: 815px;
    text-align: center;
    align-content: start;
    background-color: #f3faf6;
}
#sec6 p{
    height: 145px;
    font-size: 14px;
    letter-spacing: 1px;
    align-content: end;
}
#sec6 h1{
    height: 90px;
    font-family: 'Bricolage Grotesque';
    align-content: center;
    font-size: 55px;
}
#sec6 div{
    height: 410px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#sec6 div>div{
    height: 280px;
    width: 28.7%;
    border-radius: 25px;
    position: relative;
}
#sec6 img{
    border-radius: 28.7px;
}
#sec6 button{
    height: 53px;
    width: 223px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 600;
    color: #183030;
    border-color: 2px solid black;
    background-color: #f3faf6;
    transition-duration: .5s;
}
#sec6 button:hover{
    border: none;
    background-color: #e3bd2c;
    transition-duration: .5s;
}
#sec7{
    height: 807px;
    text-align: center;
}
#sec7 section{
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#sec7 section>div{
    height: 300px;
    width: 44%;
    background-color: #f3faf6;
    border-radius: 30px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-direction: column;
}
#sec7 section>div>p:nth-child(2){
    width: 90%;
    color: #526354;
    font-size: 15px;
    letter-spacing: .5px;
    line-height: 26px;
}
#sec7 article{
 display: flex;
    width: 89%;
    gap: 13px;
}
#sec7 article h2{
    font-size: 20px;
    height: 34px;
    color: #1f3330;
    align-content: end;
}
#sec7 article:first-child p{
    color: #526354;
    height: 25px;
    font-size: 15px;
    letter-spacing: .3px;
}
#sec7 article~article {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#sec7 article~article p{
    letter-spacing: -2px;
    font-size: 17px;
}
#sec7 article~article p+p{
    font-size: 32px;
    color: #183030;
}
#sec7 article~article p+p:hover{
    cursor: pointer;
}
#sec7 img{
 height: 55px;
    width: 55px;
}
#sec7>p{
    font-size: 14px;
    letter-spacing: 1.5px;
    height: 150px;
    align-content: end;
}
#sec7 h1{
    height: 160px;
    font-size: 53px;
    letter-spacing: -1px;
    align-content: center;
}
#sec8{
    height: 510px;
    background-image: url(./template/footer-bg.jpg);
    background-size: cover;
    position: relative;
}
#sec8 section{
    height: 510px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(24, 48, 48, 0.2);
}
#sec8 div{
    height: 55%;
    width: 45%;
    color: white;
}
#sec8 h1{
    height: 110px;
    font-size: 54px;
    font-family: 'Bricolage Grotesque';
}
#sec8 p{
    height: 110px;
    font-size: 15px;
    align-content: center;
    letter-spacing: 0.4px;
}
#sec8 button{
    height: 55px;
    width: 200px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 600;
    background-color: #ebd35b;
    border: none;
    transition-duration: .5s;
    color: #183030;
}
#sec8 button:hover{
    background-color: #e3bd2c;
    transition-duration: .5s;
    cursor: pointer;
}
footer{
    height: 418px;
    text-align: center;
    background-color: #f3faf6;
}
footer section:first-child{
    height: 348px;
    border-bottom: 1px solid #dfe2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
footer div{
    width: 20%;
    height: 190px;
    text-align: left;
}
footer section+section{
    align-content: center;
    height: 70px;
    color: #526354;
    font-size: 16px;
}
footer h2{
    font-size: 23px;
    color: #183030;
    height: 55px;
}
footer section p{
    color: #526354;
    height: 80px;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.3px;
}
footer ul{
    list-style: none;
}
footer li{
    height: 26px;
    font-size: 15px;
    color: #183030;
    letter-spacing: 0.5px;
}
footer li:hover{
    color: #e3bd2c;
    cursor: pointer;
}
footer section+section{
    align-content: center;
    height: 70px;
    color: #526354;
    font-size: 16px;
}
footer h2{
    font-size: 23px;
    color: #183030;
    height: 55px;
}
footer section p{
    color: #526354;
    height: 80px;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.3px;
}
footer ul{
    list-style: none;
}
footer li{
    height: 26px;
    font-size: 15px;
    color: #183030;
    letter-spacing: 0.5px;
}
footer li:hover{
    color: #e3bd2c;
    cursor: pointer;
}




    



